

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511255304764196007.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511255304764196007.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511255304764196007.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511255304764196007.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511255304764196007.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511255304764196007.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511255304764196007.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511255304764196007.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511255304764196007.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511255304764196007.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511255304764196007.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511255304764196007.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511255304764196007.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511255304764196007.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511255304764196007.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511255304764196007.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511255304764196007.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511255304764196007.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511255304764196007.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511255304764196007.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511255304764196007.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511255304764196007.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511255304764196007.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511255304764196007.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511255304764196007.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511255304764196007.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511255304764196007.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511255304764196007.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-511255304764196007.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511255304764196007.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-511255304764196007.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511255304764196007.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511255304764196007.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-511255304764196007.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-511255304764196007.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511255304764196007.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-511255304764196007.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511255304764196007.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511255304764196007.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-511255304764196007 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-511255304764196007 .gp-relative{position:relative}.gps-511255304764196007 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511255304764196007 .gp-mb-0{margin-bottom:0}.gps-511255304764196007 .gp-flex{display:flex}.gps-511255304764196007 .gp-grid{display:grid}.gps-511255304764196007 .\!gp-hidden{display:none!important}.gps-511255304764196007 .gp-hidden{display:none}.gps-511255304764196007 .gp-max-w-full{max-width:100%}.gps-511255304764196007 .gp-flex-col{flex-direction:column}.gps-511255304764196007 .gp-gap-y-0{row-gap:0}.gps-511255304764196007 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511255304764196007 .gp-duration-200{transition-duration:.2s}.gps-511255304764196007 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511255304764196007 .tablet\:\!gp-hidden{display:none!important}.gps-511255304764196007 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511255304764196007 .mobile\:\!gp-hidden{display:none!important}.gps-511255304764196007 .mobile\:gp-hidden{display:none}}.gps-511255304764196007 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511255304764196007 .\[\&_p\]\:gp-inline p{display:inline}.gps-511255304764196007 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511255304764196007 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      <link rel="preload" href="https://cdn.shopify.com/s/files/1/0696/0988/1839/files/gempages_509069249558348903-1e327895-6fa1-4517-8d25-9bb0a4a4b54b.jpg?v=1716228825" as="image" /><link rel="preload" href="https://cdn.shopify.com/s/files/1/0696/0988/1839/files/509069249558348903-e80c1f5c-5f26-4f14-9adc-5d3156cea739.jpg" as="image" />
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gz5aW3JrlW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:120px;--pl:15px;--pb:120px;--pr:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url({{ "gempages_509069249558348903-1e327895-6fa1-4517-8d25-9bb0a4a4b54b.jpg" | file_url }});--bgi-mobile:url({{ "509069249558348903-e80c1f5c-5f26-4f14-9adc-5d3156cea739.jpg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gz5aW3JrlW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gF6jCidOI9 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXk53BkYet"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:69px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXk53BkYet gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGsNkQ7SNU gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gLaaHOf3n7 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:171px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLaaHOf3n7_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-511255304764196007 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=511255304680244391&sectionId=511255304764196007)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggLaaHOf3n7_text","label":"ggLaaHOf3n7_text","default":"FAQ"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
