
  
  <style> .gps-509821235853526189 .focus-visible\:gp-shadow-none,.gps-509821235853526189 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509821235853526189 .gp-fixed{position:fixed}.gps-509821235853526189 .gp-absolute{position:absolute}.gps-509821235853526189 .gp-relative{position:relative}.gps-509821235853526189 .gp-inset-0{inset:0}.gps-509821235853526189 .gp-right-0{right:0}.gps-509821235853526189 .gp-top-0{top:0}.gps-509821235853526189 .gp-z-50{z-index:50}.gps-509821235853526189 .gp-z-\[999999\]{z-index:999999}.gps-509821235853526189 .gp-block{display:block}.gps-509821235853526189 .gp-inline-block{display:inline-block}.gps-509821235853526189 .gp-flex{display:flex}.gps-509821235853526189 .gp-inline-flex{display:inline-flex}.gps-509821235853526189 .\!gp-hidden{display:none!important}.gps-509821235853526189 .gp-hidden{display:none}.gps-509821235853526189 .gp-h-full{height:100%}.gps-509821235853526189 .gp-h-screen{height:100vh}.gps-509821235853526189 .gp-max-h-\[calc\(100vh_-_192px\)\]{max-height:calc(100vh - 192px)}.gps-509821235853526189 .gp-max-h-full{max-height:100%}.gps-509821235853526189 .gp-w-full{width:100%}.gps-509821235853526189 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-509821235853526189 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-509821235853526189 .gp-items-center{align-items:center}.gps-509821235853526189 .gp-justify-center{justify-content:center}.gps-509821235853526189 .gp-overflow-y-auto{overflow-y:auto}.gps-509821235853526189 .gp-overflow-x-hidden{overflow-x:hidden}.gps-509821235853526189 .gp-bg-transparent{background-color:transparent}.gps-509821235853526189 .gp-bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-509821235853526189 .gp-align-middle{vertical-align:middle}.gps-509821235853526189 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-509821235853526189 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-509821235853526189 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509821235853526189 .gp-duration-100{transition-duration:.1s}.gps-509821235853526189 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-509821235853526189 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1023px){.gps-509821235853526189 .tablet\:\!gp-hidden{display:none!important}.gps-509821235853526189 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509821235853526189 .mobile\:\!gp-hidden{display:none!important}.gps-509821235853526189 .mobile\:gp-hidden{display:none}} </style>
  
    <gp-dialog style="--d:contents;--d-tablet:contents;--d-mobile:contents" data-gp-setting='{"dialogId":"gJcrI3RlyT","trigger":"none","triggerTime":10,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"tablet":true,"mobile":true}}'>
      <dialog class="gp-z-[999999]  gp-dialog gp-bg-transparent" aria-label="Popup 1" data-gp-dialog-id="gJcrI3RlyT">
        <div
          aria-label="Backdrop"
          class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-items-center gp-justify-center"
        >
        
            <div
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              data-gp-dialog-overlay
              style="--op:0.47;--bgc:#121212"
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            class="gp-relative gp-max-h-full gp-max-w-full gp-bg-white gp-shadow-xl gp-animate-[fadeIn_0.4s_ease-in]"
            style="--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px"
          >
            <button
              type="button"
              data-gp-dialog-close
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-z-[999999] gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none"
              style="--w:32px;--h:32px;--c:var(--g-c-line-3, line-3);--bgc:#B3D825;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
            >
              <svg
                viewBox="0 0 12 12"
                fill="currentColor"
                style="--w:12px;--h:12px"
              >
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
            </button>
            <div
              style="--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--shadow:none;--op:100%;--animation:[object Object];--minh:300px"
              aria-label="Dialog body"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden gp-max-h-[calc(100vh_-_192px)]">
                <div>
                  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-dialog.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  {% schema %}
    {
      
      "name": "Section 6",
      "tag": "section",
      "class": "gps-509821235853526189 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509821235853526189)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
