
  <style> @import url('https://fonts.googleapis.com/css?family=Poppins:600,700,400|Josefin+Sans:400,700&display=swap'); </style>
  <style> .gps-509069660231042151 .focus\:\!gp-shadow-none,.gps-509069660231042151 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509069660231042151 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509069660231042151 .gp-invisible{visibility:hidden}.gps-509069660231042151 .gp-fixed{position:fixed}.gps-509069660231042151 .gp-absolute{position:absolute}.gps-509069660231042151 .gp-relative{position:relative}.gps-509069660231042151 .gp-top-\[27px\]{top:27px}.gps-509069660231042151 .gp-z-1{z-index:1}.gps-509069660231042151 .gp-z-100{z-index:100}.gps-509069660231042151 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509069660231042151 .gp-mb-0{margin-bottom:0}.gps-509069660231042151 .\!gp-inline{display:inline!important}.gps-509069660231042151 .gp-flex{display:flex}.gps-509069660231042151 .gp-inline-flex{display:inline-flex}.gps-509069660231042151 .gp-grid{display:grid}.gps-509069660231042151 .\!gp-hidden{display:none!important}.gps-509069660231042151 .gp-hidden{display:none}.gps-509069660231042151 .\!gp-h-auto{height:auto!important}.gps-509069660231042151 .gp-h-5{height:20px}.gps-509069660231042151 .gp-h-full{height:100%}.gps-509069660231042151 .gp-w-5{width:20px}.gps-509069660231042151 .gp-w-full{width:100%}.gps-509069660231042151 .gp-max-w-full{max-width:100%}.gps-509069660231042151 .gp-flex-col{flex-direction:column}.gps-509069660231042151 .gp-items-center{align-items:center}.gps-509069660231042151 .gp-justify-center{justify-content:center}.gps-509069660231042151 .gp-gap-y-0{row-gap:0}.gps-509069660231042151 .gp-overflow-hidden{overflow:hidden}.gps-509069660231042151 .gp-break-words{overflow-wrap:break-word}.gps-509069660231042151 .gp-rounded{border-radius:4px}.gps-509069660231042151 .gp-rounded-none{border-radius:0}.gps-509069660231042151 .\!gp-bg-none{background-image:none!important}.gps-509069660231042151 .gp-p-\[16px\]{padding:16px}.gps-509069660231042151 .gp-text-\[14px\]{font-size:14px}.gps-509069660231042151 .gp-leading-normal{line-height:1.5}.gps-509069660231042151 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-509069660231042151 .gp-no-underline{text-decoration-line:none}.gps-509069660231042151 .gp-opacity-25{opacity:.25}.gps-509069660231042151 .gp-opacity-75{opacity:.75}.gps-509069660231042151 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-509069660231042151 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660231042151 .gp-duration-200{transition-duration:.2s}.gps-509069660231042151 .gp-duration-300{transition-duration:.3s}.gps-509069660231042151 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660231042151 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-509069660231042151 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-509069660231042151 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-509069660231042151 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509069660231042151 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509069660231042151 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509069660231042151 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509069660231042151 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509069660231042151 .tablet\:\!gp-hidden{display:none!important}.gps-509069660231042151 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509069660231042151 .mobile\:\!gp-hidden{display:none!important}.gps-509069660231042151 .mobile\:gp-hidden{display:none}}.gps-509069660231042151 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509069660231042151 .\[\&_p\]\:gp-inline p{display:inline}.gps-509069660231042151 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509069660231042151 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509069660231042151 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gxg5ybKZzi"
        style="--border:;--rounded:;--pt:30px;--pb:18px;--pt-mobile:30px;--pb-mobile:34px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxg5ybKZzi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gkb3Xc-HI5 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTmj9I-KgQ"
        style="--border:;--rounded:;--pt:0px;--pb:30px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:30px;--pr-tablet:15px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTmj9I-KgQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0;--o-mobile:1"
      class="g2cXDJ0a_7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIjL1luauD "
        style="--tt:uppercase;--ta:left;--border:;--rounded:;--pt:42px;--pt-mobile:40px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:1px;--lh:120%;--size:44px;--size-tablet:44px;--size-mobile:38px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >Get on the list</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gMai4dw_d7 "
        style="--tt:capitalize;--ta:left;--border:;--rounded:;--pt:8px;--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >For early access to our new collections, promotions &amp; much more.</div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl)" class="gH99PrbImq ">
      
    <gp-form 
      id="gH99PrbImq"
      style=""
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gH99PrbImq"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-gH99PrbImq ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gH99PrbImq"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gH99PrbImq"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="gLLDfks6Z_"
        style="--b:solid;--bc:#ececec;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLLDfks6Z_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gNcs2O13qz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      class="gqGPwHeIaf"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:27px;--pr:27px;--pt:24px;--pb:24px;--w:374px;--w-tablet:313px;--w-mobile:100%;--b:solid;--bc:#C7660C;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="g3LztJt6WI gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:var(--g-s-l);--ta:left"
    class=""
  >
    <style>
    .g5WDJNqwJF.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g5WDJNqwJF:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
  </style>
    <button
      type="submit" data-id="g5WDJNqwJF" aria-label="Subscribe"
      data-state="idle"
      class="g5WDJNqwJF gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3"
      style="--hvr-bg:#7A3D04;--bg:#C7660C;--c:var(--g-c-bg-3, bg-3);--pl:40px;--pr:40px;--pt:24px;--pb:23px;--pl-tablet:40px;--pr-tablet:40px;--pt-tablet:24px;--pb-tablet:23px;--pl-mobile:40px;--pr-mobile:40px;--pt-mobile:23px;--pb-mobile:23px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Josefin-Sans, 'Josefin Sans');--weight:400;--ls:5px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:uppercase"
      >
        Subscribe
      </span>
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--o-mobile:0"
      class="gQJSXkyBdR gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image geKjt7qJQs"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--mt:-132px;--mt-mobile:-142px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/" srcset="https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" width="576" height="395" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:576/395;--aspect-tablet:576/395;--aspect-mobile:576/395;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/" data-srcset="https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/e4954a71-778b-4982-8364-e976a0a3df13/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="576" height="395" alt="Alt Image"
      sizes="100vw"
      style="--aspect:576/395;--aspect-tablet:576/395;--aspect-mobile:576/395;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 9",
      "tag": "section",
      "class": "gps-509069660231042151 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509069660231042151)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
