

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511435449617613856.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-511435449617613856.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511435449617613856.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511435449617613856.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511435449617613856.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511435449617613856.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511435449617613856.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511435449617613856.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511435449617613856.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511435449617613856.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511435449617613856.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511435449617613856.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511435449617613856.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511435449617613856.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511435449617613856.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511435449617613856.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511435449617613856.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511435449617613856.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511435449617613856.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-511435449617613856.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511435449617613856.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511435449617613856.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511435449617613856.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511435449617613856.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511435449617613856.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511435449617613856.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511435449617613856.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511435449617613856.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511435449617613856.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511435449617613856.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-511435449617613856.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-511435449617613856.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511435449617613856.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511435449617613856.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511435449617613856.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-511435449617613856.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-511435449617613856.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511435449617613856.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511435449617613856.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511435449617613856.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511435449617613856.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-511435449617613856.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-511435449617613856 .gp-relative{position:relative}.gps-511435449617613856 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511435449617613856 .gp-mb-0{margin-bottom:0}.gps-511435449617613856 .\!gp-inline{display:inline!important}.gps-511435449617613856 .gp-flex{display:flex}.gps-511435449617613856 .gp-grid{display:grid}.gps-511435449617613856 .\!gp-hidden{display:none!important}.gps-511435449617613856 .gp-hidden{display:none}.gps-511435449617613856 .gp-h-full{height:100%}.gps-511435449617613856 .gp-w-full{width:100%}.gps-511435449617613856 .gp-max-w-full{max-width:100%}.gps-511435449617613856 .gp-flex-col{flex-direction:column}.gps-511435449617613856 .gp-gap-y-0{row-gap:0}.gps-511435449617613856 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511435449617613856 .gp-duration-200{transition-duration:.2s}.gps-511435449617613856 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-511435449617613856 .tablet\:\!gp-hidden{display:none!important}.gps-511435449617613856 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511435449617613856 .mobile\:\!gp-hidden{display:none!important}.gps-511435449617613856 .mobile\:gp-hidden{display:none}}.gps-511435449617613856 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gQ1hV6kDUy" data-id="gQ1hV6kDUy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ1hV6kDUy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS7r6PHjzn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gOy0HW5GzB"
    role="presentation"
    class="gp-group/image gOy0HW5GzB"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-b05d3c5d-8082-414d-b8c6-335352221a7e.jpg" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-b05d3c5d-8082-414d-b8c6-335352221a7e.jpg' | file_img_url: '768x' }} 768w, {{ 'gempages_509069249558348903-b05d3c5d-8082-414d-b8c6-335352221a7e.jpg' | file_img_url: '1024x' }} 1024w, {{ 'gempages_509069249558348903-b05d3c5d-8082-414d-b8c6-335352221a7e.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYwIiBoZWlnaHQ9IjYzOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTYwLTYzOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTYwIiBoZWlnaHQ9IjYzOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTYwIiBoZWlnaHQ9IjYzOSIgZmlsbD0idXJsKCNnLTk2MC02MzkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NjAiIHRvPSI5NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="960" height="639" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:960/639;--aspect-tablet:960/639;--aspect-mobile:960/639;--objf:cover;--w:100%;--w-tablet:1200px;--w-mobile:1200px;--h:600px;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-511435449617613856 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=511435424787334311&sectionId=511435449617613856)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
