
  <style> @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,600&display=swap'); </style>
  <style> .gps-509069660130444191 .gp-relative{position:relative}.gps-509069660130444191 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509069660130444191 .gp-mb-0{margin-bottom:0}.gps-509069660130444191 .\!gp-inline{display:inline!important}.gps-509069660130444191 .gp-flex{display:flex}.gps-509069660130444191 .gp-grid{display:grid}.gps-509069660130444191 .\!gp-hidden{display:none!important}.gps-509069660130444191 .gp-hidden{display:none}.gps-509069660130444191 .gp-h-full{height:100%}.gps-509069660130444191 .gp-w-full{width:100%}.gps-509069660130444191 .gp-max-w-full{max-width:100%}.gps-509069660130444191 .gp-flex-col{flex-direction:column}.gps-509069660130444191 .gp-gap-y-0{row-gap:0}.gps-509069660130444191 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660130444191 .gp-duration-200{transition-duration:.2s}.gps-509069660130444191 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509069660130444191 .tablet\:\!gp-hidden{display:none!important}.gps-509069660130444191 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509069660130444191 .mobile\:\!gp-hidden{display:none!important}.gps-509069660130444191 .mobile\:gp-hidden{display:none}}.gps-509069660130444191 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509069660130444191 .\[\&_p\]\:gp-inline p{display:inline}.gps-509069660130444191 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509069660130444191 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="M1TsQN9sTR"
        style="--border:;--rounded:;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:56px;--pb-mobile:56px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="M1TsQN9sTR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="s137hfr4Sx gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcdz7p3Qcu"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcdz7p3Qcu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdVi7XaePo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="TSuCtBRW2L "
        style="--tt:capitalize;--ta:center;--border:;--rounded:;--mb:var(--g-s-s);--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:capitalize;word-break:break-word;overflow:hidden"
        ><font color="#f37934">20% of the profit</font> from these collections will be donated to environmental organizations</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="W75dl7rLLP "
        style="--tt:uppercase;--ta:center;--border:;--rounded:;--mb:var(--g-s-s);--pl-mobile:15px;--pr-mobile:15px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:1px;--lh:120%;--size:44px;--size-tablet:44px;--size-mobile:38px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >Green is our passion</h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="kYtLoTjbmn"
        style="--border:;--rounded:;--cg:30px;--cg-mobile:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="kYtLoTjbmn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="de1oWXnzY5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image sFDFhZY6dJ"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/" srcset="https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 768w,https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1024w,https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1440w" width="1146" height="1024" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1146/1024;--aspect-tablet:1146/1024;--aspect-mobile:1146/1024;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/" data-srcset="https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 768w,https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1024w,https://ucarecdn.com/3ef19cb2-2db3-499d-8bec-0d1c0da03979/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1146" height="1024" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1146/1024;--aspect-tablet:1146/1024;--aspect-mobile:1146/1024;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      
      
    <div
      parentTag="Col" id="YRY02zh9uB"
        style="--border:;--rounded:;--mt:-52px;--pt:0px;--pl:56px;--pb:0px;--pr:56px;--mt-mobile:-24px;--pt-mobile:0px;--pl-mobile:24px;--pb-mobile:0px;--pr-mobile:24px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="YRY02zh9uB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="tfOdnPH0YJ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCmxEvgJdd"
        style="--b:solid;--bc:#F6F6F6;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:40px;--pb:var(--g-s-2xl);--pr:40px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-text-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCmxEvgJdd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzvPOuF-wt gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="Zq9z3XvGUf "
        style="--tt:default;--ta:left;--border:;--rounded:;--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >Made from sustainable materials</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="3SlcSpnyQ2 "
        style="--tt:default;--ta:left;--border:;--rounded:;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >Creative decor</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="fprsYdgyFS gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image ZrZ2AO4XCf"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--mt-mobile:var(--g-s-2xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/" srcset="https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 768w,https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1024w,https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1440w" width="1146" height="1024" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1146/1024;--aspect-tablet:1146/1024;--aspect-mobile:1146/1024;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/" data-srcset="https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 768w,https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1024w,https://ucarecdn.com/a310fce3-d7d6-42a7-9e60-34a4627c5a26/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1146" height="1024" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1146/1024;--aspect-tablet:1146/1024;--aspect-mobile:1146/1024;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      
      
    <div
      parentTag="Col" id="8YdGkGwsDs"
        style="--border:;--rounded:;--mt:-52px;--pt:0px;--pl:56px;--pb:0px;--pr:56px;--mt-mobile:-24px;--pt-mobile:0px;--pl-mobile:24px;--pb-mobile:0px;--pr-mobile:24px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="8YdGkGwsDs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="I-YwvBYIAA gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gBu8sDDsXs"
        style="--b:solid;--bc:#F6F6F6;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:40px;--pb:var(--g-s-2xl);--pr:40px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-text-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBu8sDDsXs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJqjd2E-EE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="2GkmCLad55 "
        style="--tt:default;--ta:left;--border:;--rounded:;--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >100% organic certified</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="lHgF17LFJK "
        style="--tt:default;--ta:left;--border:;--rounded:;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >Living room essentials</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 3",
      "tag": "section",
      "class": "gps-509069660130444191 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509069660130444191)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
