

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-512853366297068749.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-512853366297068749.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-512853366297068749.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-512853366297068749.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-512853366297068749.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-512853366297068749.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-512853366297068749.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-512853366297068749.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-512853366297068749.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-512853366297068749.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-512853366297068749.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-512853366297068749.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-512853366297068749.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-512853366297068749.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-512853366297068749.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-512853366297068749.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-512853366297068749.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-512853366297068749.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-512853366297068749.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-512853366297068749.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-512853366297068749.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-512853366297068749.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-512853366297068749.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-512853366297068749.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-512853366297068749.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-512853366297068749.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-512853366297068749.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-512853366297068749.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-512853366297068749.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-512853366297068749.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-512853366297068749.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-512853366297068749.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-512853366297068749.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-512853366297068749.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-512853366297068749.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-512853366297068749.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-512853366297068749.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-512853366297068749.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-512853366297068749.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-512853366297068749.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-512853366297068749.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-512853366297068749.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-512853366297068749.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-512853366297068749.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-512853366297068749.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-512853366297068749.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-512853366297068749.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-512853366297068749.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-512853366297068749.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-512853366297068749.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-512853366297068749.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-512853366297068749.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-512853366297068749.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-512853366297068749.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-512853366297068749.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-512853366297068749.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-512853366297068749.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-512853366297068749.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-512853366297068749.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-512853366297068749.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-512853366297068749.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-512853366297068749.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-512853366297068749.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-512853366297068749 .gp-relative{position:relative}.gps-512853366297068749 .gp-z-1{z-index:1}.gps-512853366297068749 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512853366297068749 .gp-mb-0{margin-bottom:0}.gps-512853366297068749 .gp-flex{display:flex}.gps-512853366297068749 .gp-inline-flex{display:inline-flex}.gps-512853366297068749 .gp-grid{display:grid}.gps-512853366297068749 .\!gp-hidden{display:none!important}.gps-512853366297068749 .gp-hidden{display:none}.gps-512853366297068749 .gp-h-full{height:100%}.gps-512853366297068749 .gp-max-w-full{max-width:100%}.gps-512853366297068749 .gp-flex-col{flex-direction:column}.gps-512853366297068749 .gp-items-center{align-items:center}.gps-512853366297068749 .gp-justify-center{justify-content:center}.gps-512853366297068749 .gp-gap-y-0{row-gap:0}.gps-512853366297068749 .gp-overflow-hidden{overflow:hidden}.gps-512853366297068749 .gp-break-words{overflow-wrap:break-word}.gps-512853366297068749 .gp-rounded-none{border-radius:0}.gps-512853366297068749 .gp-no-underline{text-decoration-line:none}.gps-512853366297068749 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512853366297068749 .gp-duration-200{transition-duration:.2s}.gps-512853366297068749 .gp-duration-300{transition-duration:.3s}.gps-512853366297068749 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512853366297068749 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-512853366297068749 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-512853366297068749 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-512853366297068749 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-512853366297068749 .tablet\:\!gp-hidden{display:none!important}.gps-512853366297068749 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512853366297068749 .mobile\:\!gp-hidden{display:none!important}.gps-512853366297068749 .mobile\:gp-hidden{display:none}}.gps-512853366297068749 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512853366297068749 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g3V3H6GAO4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mr:auto;--pt:250px;--pb:250px;--pt-mobile:200px;--pb-mobile:200px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url({{ "gempages_509069249558348903-814a1dbb-8314-4de4-a9ea-a1917991dbbf.jpg" | file_url }});--bgi-mobile:url({{ "gempages_509069249558348903-f6d0197a-1fc7-48c4-b746-48fbf6b0cd43.png" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3V3H6GAO4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gY8mTGegSg gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEs6ZI-_NC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEs6ZI-_NC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8PfK7BMef gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right;--ta-mobile:center"
    
  >
    <style>
    .rixtNHicSgFY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .rixtNHicSgFY:hover::before {
      
      
    }

    .rixtNHicSgFY:hover .gp-button-icon {
      color: undefined;
    }

     .rixtNHicSgFY .gp-button-icon {
      color: #FFFFFF;
    }

    .rixtNHicSgFY:hover .gp-button-price {
      color: undefined;
    }

    .rixtNHicSgFY .gp-button-price {
      color: #FFFFFF;
    }

    .rixtNHicSgFY .gp-product-dot-price {
       color: #FFFFFF;
    }

    .rixtNHicSgFY:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="rixtNHicSgFY" aria-label="Com Jui"
      
      data-state="idle"
      class="rixtNHicSgFY gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgb(178, 217, 38);--bg:rgb(178, 217, 38);--bblr:0px;--bbrr:0px;--btlr:30px;--btrr:30px;--shadow:none;--w:;--w-tablet:;--w-mobile:50%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:10px;--pr-mobile:5px;--pt-mobile:8px;--pb-mobile:8px;--c:#FFFFFF;--size:23px;--size-tablet:18px;--size-mobile:22px;--ff:var(--g-font-Athletics-Bold, 'Athletics Bold'), var(--g-font-heading, heading);--weight:400"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.grixtNHicSgFY_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAvVZJW6Qu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .MBBHceXyuXqi.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .MBBHceXyuXqi:hover::before {
      
      
    }

    .MBBHceXyuXqi:hover .gp-button-icon {
      color: undefined;
    }

     .MBBHceXyuXqi .gp-button-icon {
      color: rgb(255, 255, 255);
    }

    .MBBHceXyuXqi:hover .gp-button-price {
      color: undefined;
    }

    .MBBHceXyuXqi .gp-button-price {
      color: rgb(255, 255, 255);
    }

    .MBBHceXyuXqi .gp-product-dot-price {
       color: rgb(255, 255, 255);
    }

    .MBBHceXyuXqi:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="MBBHceXyuXqi" aria-label="Sem Jui"
      
      data-state="idle"
      class="MBBHceXyuXqi gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgb(245, 127, 32);--bg:rgb(245, 127, 32);--bblr:30px;--bbrr:30px;--btlr:0px;--btrr:0px;--shadow:none;--w:;--w-tablet:;--w-mobile:50%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:5px;--pr-mobile:10px;--pt-mobile:8px;--pb-mobile:8px;--c:rgb(255, 255, 255);--size:23px;--size-tablet:18px;--size-mobile:22px;--ff:var(--g-font-Athletics-Bold, 'Athletics Bold'), var(--g-font-heading, heading);--weight:400"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.gMBBHceXyuXqi_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-512853366297068749 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=511770980264182951&sectionId=512853366297068749)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"grixtNHicSgFY_label","label":"grixtNHicSgFY_label","default":"Com Jui"},{"type":"html","id":"gMBBHceXyuXqi_label","label":"gMBBHceXyuXqi_label","default":"Sem Jui"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
