
  <style> @import url('https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap'); </style>
  <style> .gps-511431197784540327 .gp-relative{position:relative}.gps-511431197784540327 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511431197784540327 .gp-mb-0{margin-bottom:0}.gps-511431197784540327 .gp-flex{display:flex}.gps-511431197784540327 .gp-grid{display:grid}.gps-511431197784540327 .\!gp-hidden{display:none!important}.gps-511431197784540327 .gp-hidden{display:none}.gps-511431197784540327 .gp-max-w-full{max-width:100%}.gps-511431197784540327 .gp-flex-col{flex-direction:column}.gps-511431197784540327 .gp-gap-y-0{row-gap:0}.gps-511431197784540327 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511431197784540327 .gp-duration-200{transition-duration:.2s}.gps-511431197784540327 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511431197784540327 .tablet\:\!gp-hidden{display:none!important}.gps-511431197784540327 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511431197784540327 .mobile\:\!gp-hidden{display:none!important}.gps-511431197784540327 .mobile\:gp-hidden{display:none}}.gps-511431197784540327 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511431197784540327 .\[\&_p\]\:gp-inline p{display:inline}.gps-511431197784540327 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511431197784540327 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gj5Q7voz-q"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj5Q7voz-q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPj-kQ-mOA gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gmaG3DnCjd"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmaG3DnCjd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ2ArPT6EW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_87RbvcHW "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mr:0px;--pt:0px;--ml-mobile:20px;--mr-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--ta-mobile:justify;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-heading, heading);--weight:400;--lh:50%;--size:40px;--size-tablet:41px;--size-mobile:36px;--c:#3D4326;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:28px;overflow:hidden"
        >{{ section.settings.gg_87RbvcHW_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-511431197784540327 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=511431197734208679&sectionId=511431197784540327)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gg_87RbvcHW_text","label":"gg_87RbvcHW_text","default":"<span style=\"font-size:20px;\"><strong>Políticas de troca, cancelamento e devolução.</strong></span><br><br><span style=\"font-size:20px;\">A Jui tem o compromisso de garantir a satisfação e felicidade de seus clientes, produzindo apenas produtos de alta qualidade, com tecnologia avançada e de ponta.</span><br><br><span style=\"font-size:20px;\">Para manter a credibilidade e cultivar um bom relacionamento com nossos clientes, criamos uma política de devolução e troca baseada no Código de Defesa do Consumidor.&nbsp;</span><br><br><span style=\"font-size:20px;\">As regras são simples e práticas. Nas compras realizadas pelo site da Jui, caso o cliente deseje cancelar a compra, se arrependa da aquisição ou receba um produto com defeito, ele deve entrar em contato conosco por meio do SAC: contato@vivajui.com, no prazo de até 7 dias corridos a partir da data de recebimento do produto.&nbsp;</span><br><br><span style=\"font-size:20px;\">O cliente deve enviar um e-mail informando seus dados pessoais (nome e CPF), além do número do pedido realizado.&nbsp;</span><br><br><span style=\"font-size:20px;\">Ao iniciar o processo de devolução, o cliente deve escrever no verso da nota fiscal do produto o motivo pelo qual está solicitando a devolução, juntamente com a data de devolução e o nome completo com CPF de quem está realizando a devolução.</span><br><br><span style=\"color:var(--e-global-color-primary);font-size:20px;\"><strong>Observação:</strong> não serão aceitas devoluções sem a nota fiscal acompanhada da descrição do motivo e/ou sem a solicitação prévia de devolução.&nbsp;</span><br><br><span style=\"color:var(--e-global-color-primary);font-size:20px;\"><strong><u>Nesse caso, as seguintes condições devem ser consideradas:&nbsp;</u></strong>O produto não deve apresentar sinais de ter sido aberto ou utilizado;</span><br><br><span style=\"color:var(--e-global-color-primary);font-size:20px;\">O produto deve ser enviado preferencialmente na embalagem original, acompanhado da nota fiscal, etiquetas e tags de identificação.</span><br><br><span style=\"color:var(--e-global-color-primary);font-size:20px;\">Endereço de devolução e custos de envio Para realizar a devolução do produto, o cliente deve enviá-lo para o endereço fornecido por e-mail.</span><br><br><span style=\"color:var(--e-global-color-primary);font-size:20px;\">Nesse caso, os custos do envio da devolução serão cobertos pela Jui. Mais uma vez, é fundamental que o produto não apresente sinais de ter sido aberto ou utilizado.</span>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
