
  
  <style> .gps-511770980381688999 .gp-relative{position:relative}.gps-511770980381688999 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511770980381688999 .gp-mb-0{margin-bottom:0}.gps-511770980381688999 .gp-flex{display:flex}.gps-511770980381688999 .gp-grid{display:grid}.gps-511770980381688999 .\!gp-hidden{display:none!important}.gps-511770980381688999 .gp-hidden{display:none}.gps-511770980381688999 .gp-max-w-full{max-width:100%}.gps-511770980381688999 .gp-flex-col{flex-direction:column}.gps-511770980381688999 .gp-gap-y-0{row-gap:0}.gps-511770980381688999 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511770980381688999 .gp-duration-200{transition-duration:.2s}.gps-511770980381688999 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511770980381688999 .tablet\:\!gp-hidden{display:none!important}.gps-511770980381688999 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511770980381688999 .mobile\:\!gp-hidden{display:none!important}.gps-511770980381688999 .mobile\:gp-hidden{display:none}}.gps-511770980381688999 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--pos:static;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gYPD5nHcaZ"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mr:auto;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYPD5nHcaZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gjlpwZx-0l gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-511770980381688999 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=511770980264182951&sectionId=511770980381688999)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
