
  <style> @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,600,100,500|Open+Sans:400,700&display=swap'); </style>
  <style> .gps-509069660180710303 .gp-rotate-0,.gps-509069660180710303 .gp-rotate-180,.gps-509069660180710303 .mobile\:gp-rotate-0,.gps-509069660180710303 .mobile\:gp-rotate-180,.gps-509069660180710303 .tablet\:gp-rotate-0,.gps-509069660180710303 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-509069660180710303 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509069660180710303 .gp-g-s-tag-medium{padding:4px 12px}.gps-509069660180710303 .gp-invisible{visibility:hidden}.gps-509069660180710303 .\!gp-absolute{position:absolute!important}.gps-509069660180710303 .gp-absolute{position:absolute}.gps-509069660180710303 .gp-relative{position:relative}.gps-509069660180710303 .gp-inset-0{inset:0}.gps-509069660180710303 .gp-bottom-0{bottom:0}.gps-509069660180710303 .gp-left-0{left:0}.gps-509069660180710303 .gp-right-0{right:0}.gps-509069660180710303 .gp-top-0{top:0}.gps-509069660180710303 .gp-z-1{z-index:1}.gps-509069660180710303 .gp-z-2{z-index:2}.gps-509069660180710303 .gp-z-\[90\]{z-index:90}.gps-509069660180710303 .\!gp-m-0{margin:0!important}.gps-509069660180710303 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509069660180710303 .gp-my-0{margin-bottom:0;margin-top:0}.gps-509069660180710303 .gp-mb-0{margin-bottom:0}.gps-509069660180710303 .gp-block{display:block}.gps-509069660180710303 .gp-inline-block{display:inline-block}.gps-509069660180710303 .\!gp-flex{display:flex!important}.gps-509069660180710303 .gp-flex{display:flex}.gps-509069660180710303 .gp-inline-flex{display:inline-flex}.gps-509069660180710303 .gp-grid{display:grid}.gps-509069660180710303 .\!gp-hidden{display:none!important}.gps-509069660180710303 .gp-hidden{display:none}.gps-509069660180710303 .gp-aspect-square{aspect-ratio:1/1}.gps-509069660180710303 .gp-h-0{height:0}.gps-509069660180710303 .gp-h-5{height:20px}.gps-509069660180710303 .gp-h-6{height:24px}.gps-509069660180710303 .gp-h-fit{height:-moz-fit-content;height:fit-content}.gps-509069660180710303 .gp-h-full{height:100%}.gps-509069660180710303 .\!gp-min-h-full{min-height:100%!important}.gps-509069660180710303 .gp-w-5{width:20px}.gps-509069660180710303 .gp-w-6{width:24px}.gps-509069660180710303 .gp-w-\[12px\]{width:12px}.gps-509069660180710303 .gp-w-full{width:100%}.gps-509069660180710303 .\!gp-min-w-full{min-width:100%!important}.gps-509069660180710303 .\!gp-max-w-full{max-width:100%!important}.gps-509069660180710303 .gp-max-w-full{max-width:100%}.gps-509069660180710303 .gp-flex-1{flex:1 1 0%}.gps-509069660180710303 .gp-shrink-0{flex-shrink:0}.gps-509069660180710303 .gp-rotate-0{--tw-rotate:0deg}.gps-509069660180710303 .gp-rotate-0,.gps-509069660180710303 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660180710303 .gp-rotate-180{--tw-rotate:180deg}.gps-509069660180710303 .gp-cursor-pointer{cursor:pointer}.gps-509069660180710303 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-509069660180710303 .\!gp-flex-row{flex-direction:row!important}.gps-509069660180710303 .gp-flex-row{flex-direction:row}.gps-509069660180710303 .gp-flex-col{flex-direction:column}.gps-509069660180710303 .gp-flex-wrap{flex-wrap:wrap}.gps-509069660180710303 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660180710303 .gp-items-start{align-items:flex-start}.gps-509069660180710303 .gp-items-end{align-items:flex-end}.gps-509069660180710303 .gp-items-center{align-items:center}.gps-509069660180710303 .gp-justify-center{justify-content:center}.gps-509069660180710303 .gp-justify-between{justify-content:space-between}.gps-509069660180710303 .gp-gap-2{gap:8px}.gps-509069660180710303 .gp-gap-3{gap:12px}.gps-509069660180710303 .gp-gap-y-0{row-gap:0}.gps-509069660180710303 .gp-overflow-hidden{overflow:hidden}.gps-509069660180710303 .gp-break-words{overflow-wrap:break-word}.gps-509069660180710303 .\!gp-rounded-none{border-radius:0!important}.gps-509069660180710303 .gp-rounded-full{border-radius:9999px}.gps-509069660180710303 .gp-rounded-none{border-radius:0}.gps-509069660180710303 .gp-bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-509069660180710303 .gp-p-4{padding:16px}.gps-509069660180710303 .gp-px-0{padding-left:0;padding-right:0}.gps-509069660180710303 .gp-px-4{padding-left:16px;padding-right:16px}.gps-509069660180710303 .gp-py-0{padding-bottom:0;padding-top:0}.gps-509069660180710303 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-509069660180710303 .\!gp-pb-0{padding-bottom:0!important}.gps-509069660180710303 .gp-pb-0{padding-bottom:0}.gps-509069660180710303 .gp-pb-1{padding-bottom:4px}.gps-509069660180710303 .gp-pr-1{padding-right:4px}.gps-509069660180710303 .gp-text-center{text-align:center}.gps-509069660180710303 .gp-leading-\[0\]{line-height:0}.gps-509069660180710303 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-509069660180710303 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-509069660180710303 .gp-line-through{text-decoration-line:line-through}.gps-509069660180710303 .gp-no-underline{text-decoration-line:none}.gps-509069660180710303 .gp-decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-509069660180710303 .gp-opacity-0{opacity:0}.gps-509069660180710303 .gp-opacity-25{opacity:.25}.gps-509069660180710303 .gp-opacity-75{opacity:.75}.gps-509069660180710303 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-509069660180710303 .gp-outline-1{outline-width:1px}.gps-509069660180710303 .-gp-outline-offset-1{outline-offset:-1px}.gps-509069660180710303 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660180710303 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660180710303 .gp-duration-100{transition-duration:.1s}.gps-509069660180710303 .gp-duration-200{transition-duration:.2s}.gps-509069660180710303 .gp-duration-300{transition-duration:.3s}.gps-509069660180710303 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660180710303 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509069660180710303 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509069660180710303 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-509069660180710303 .gp-group:hover .group-hover\:gp-opacity-100{opacity:1}}.gps-509069660180710303 .data-\[disabled\=true\]\:gp-hidden[data-disabled=true],.gps-509069660180710303 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true],.gps-509069660180710303 .data-\[only-image\=true\]\:gp-hidden[data-only-image=true]{display:none}.gps-509069660180710303 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-509069660180710303 .data-\[outline\=deactive\]\:after\:\!gp-border-transparent[data-outline=deactive]:after{border-color:transparent!important;content:var(--tw-content)}.gps-509069660180710303 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509069660180710303 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509069660180710303 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}.gps-509069660180710303 .scrollbar-thumb\:gp-rounded-2xl::-webkit-scrollbar-thumb,.gps-509069660180710303 .scrollbar-track\:gp-rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-509069660180710303 .scrollbar-thumb\:gp-bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-509069660180710303 .tablet\:\!gp-absolute{position:absolute!important}.gps-509069660180710303 .tablet\:gp-z-2{z-index:2}.gps-509069660180710303 .tablet\:gp-block{display:block}.gps-509069660180710303 .tablet\:\!gp-flex{display:flex!important}.gps-509069660180710303 .tablet\:\!gp-hidden{display:none!important}.gps-509069660180710303 .tablet\:gp-hidden{display:none}.gps-509069660180710303 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-509069660180710303 .tablet\:gp-w-full{width:100%}.gps-509069660180710303 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-509069660180710303 .tablet\:gp-rotate-0,.gps-509069660180710303 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660180710303 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-509069660180710303 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-509069660180710303 .tablet\:gp-flex-row{flex-direction:row}.gps-509069660180710303 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660180710303 .tablet\:gp-px-0{padding-left:0;padding-right:0}.gps-509069660180710303 .tablet\:gp-py-0{padding-bottom:0;padding-top:0}}@media (max-width:767px){.gps-509069660180710303 .mobile\:\!gp-absolute{position:absolute!important}.gps-509069660180710303 .mobile\:gp-z-2{z-index:2}.gps-509069660180710303 .mobile\:gp-block{display:block}.gps-509069660180710303 .mobile\:\!gp-flex{display:flex!important}.gps-509069660180710303 .mobile\:\!gp-hidden{display:none!important}.gps-509069660180710303 .mobile\:gp-hidden{display:none}.gps-509069660180710303 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-509069660180710303 .mobile\:gp-w-full{width:100%}.gps-509069660180710303 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-509069660180710303 .mobile\:gp-rotate-0,.gps-509069660180710303 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660180710303 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-509069660180710303 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-509069660180710303 .mobile\:gp-flex-row{flex-direction:row}.gps-509069660180710303 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660180710303 .mobile\:gp-px-0{padding-left:0;padding-right:0}.gps-509069660180710303 .mobile\:gp-py-0{padding-bottom:0;padding-top:0}}.gps-509069660180710303 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-509069660180710303 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-509069660180710303 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-509069660180710303 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1023px){.gps-509069660180710303 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-509069660180710303 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-509069660180710303 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509069660180710303 .\[\&_p\]\:gp-inline p{display:inline}.gps-509069660180710303 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509069660180710303 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509069660180710303 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="Vdv3m96sXO"
        style="--border:;--rounded:;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:56px;--pr-mobile:15px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="Vdv3m96sXO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="K_GIBQfHrV gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZTOcYrQBv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZTOcYrQBv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCFfYFuPeF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="XJ22RVeI15 "
        style="--tt:capitalize;--ta:center;--border:;--rounded:;--mb:var(--g-s-s);--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >people are buying</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ePtj69lJyD "
        style="--tt:uppercase;--ta:center;--border:;--rounded:;--mb:40px;--pl-mobile:15px;--pr-mobile:15px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:1px;--lh:120%;--size:44px;--size-tablet:44px;--size-mobile:38px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >Featured products</h2>
      </div>
    </div>
    <gp-tab gp-data='{"setting":{"activeKey":1,"borderTab":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"childItem":["BESTSELLING","TOP-RATED","UNDER $30"],"contentAlign":"","contentFullWidth":"","contentWidth":"","labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#000000","hover":"#000000","normal":"transparent"},"labelColor":{"active":"text-3","hover":"text-3","normal":"#666666"},"labelTypo":{"custom":{"desktop":{"fontFamily":"heading","fontSize":"16px","fontStyle":"normal","fontWeight":"600","letterSpacing":"0px","lineHeight":"150%"},"mobile":{"fontSize":"14px"},"tablet":{"fontSize":"16px","lineHeight":"150%"}}},"labelTypoV2":{"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"16px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"420px"},"position":{"0":"t","1":"o","2":"p","desktop":"top"}},"builderProps":{"uid":"SdE7YUyBD9","builderData":{"advanced":{"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":{}},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"childrens":["97QLp_yKs0","gJxsUvrd3x","gaIDmfTPGe"],"label":"Tab","settings":{"activeKey":1,"borderTab":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"childItem":["BESTSELLING","TOP-RATED","UNDER $30"],"contentAlign":"","contentFullWidth":"","contentWidth":"","labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#000000","hover":"#000000","normal":"transparent"},"labelColor":{"active":"text-3","hover":"text-3","normal":"#666666"},"labelTypo":{"custom":{"desktop":{"fontFamily":"heading","fontSize":"16px","fontStyle":"normal","fontWeight":"600","letterSpacing":"0px","lineHeight":"150%"},"mobile":{"fontSize":"14px"},"tablet":{"fontSize":"16px","lineHeight":"150%"}}},"labelTypoV2":{"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"16px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"420px"},"position":{"0":"t","1":"o","2":"p","desktop":"top"}},"styles":{},"tag":"Tabs","uid":"SdE7YUyBD9","type":"component"}}}'>
      <div
        
        style="--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
        class="gp-flex SdE7YUyBD9"
      >
        <div
          class="gp-flex gp-w-full  gp-flex-col"
        >
          <div
            class="gp-flex"
            style="--jc:center"
          >
            <ul
              class="gp-tab-header-list gp-flex  0:gp-flex-row 1:gp-flex-row 2:gp-flex-row gp-flex-row"
              style="--minw:min-content;--minw-tablet:min-content;--minw-mobile:min-content;--w:420px"
            >
              
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    key="SdE7YUyBD9"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden"
          style="--w:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >BESTSELLING</div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    key="SdE7YUyBD9"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden"
          style="--w:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >TOP-RATED</div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    key="SdE7YUyBD9"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden"
          style="--w:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >UNDER $30</div>
      </div>
    </div>
                  </li>
                
            </ul>
          </div>
          <div
            class="gp-flex gp-flex-1"
          >
            <div
              class="gp-tab-item-container gp-p-4 gp-pb-0"
              key="SdE7YUyBD9" 
              style="--w:100%"
            >
            
  <div
    
    style=""
    class="gp-tab-item"
  >
    
      
      
    <div
      parentTag="TabItem" id="gMN4qxvHSO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMN4qxvHSO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAvDWVZ_Jf gp-relative gp-flex gp-flex-col"
    >
      {% render 'gp-section-509069660180710303-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
    </div>
  
    
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    
      
      
    <div
      parentTag="TabItem" id="gM8hMk0g3p"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM8hMk0g3p gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPDYNLd_BT gp-relative gp-flex gp-flex-col"
    >
      {% render 'gp-section-509069660180710303-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
    </div>
  
    
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    
      
      
    <div
      parentTag="TabItem" id="gPwN6gVP4E"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPwN6gVP4E gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gByMERiX2C gp-relative gp-flex gp-flex-col"
    >
      {% render 'gp-section-509069660180710303-2', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
    </div>
  
    
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .g-M16m6zow.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #C7660C;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g-M16m6zow:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #7A3D04;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
  </style>
    <button
      type="button" data-id="g-M16m6zow" aria-label="ALL TOP PRODUCTS"
      data-state="idle"
      class="g-M16m6zow gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:transparent;--bg:transparent;--hvr-c:#7A3D04;--c:#C7660C;--pl:55px;--pr:55px;--pt:16px;--pb:16px;--pl-tablet:55px;--pr-tablet:55px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:2px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:uppercase"
      >
        ALL TOP PRODUCTS
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-509069660180710303 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509069660180710303)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
