<style>
  .carrossel2-section {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .carrossel2 {
    position: relative;
    max-width: calc(100vw - 2rem;);
    width: 100%;
    margin: 7rem auto;
  }

  .carrossel2-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
  }

  .carrossel2-cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .carrossel2_slider > .swiper-wrapper {
    transition-timing-function: linear;
  }

  .carrossel2-card_image{
    width: 100%;
    height: 443px;
  }

  @media screen and (max-width: 768px) {
    .carrossel2 {
      position: relative;
      max-width: 768px;
      width: 100%;
      margin: 5rem auto;
    }

    .carrossel2-card {
      width: 30.15rem;
    }
    {% comment %} .carrossel2-card_image{
      height: 220px;
    } {% endcomment %}
  }
</style>

<section>
  <div class="carrossel2-section">
    <div class="carrossel2">
      <div class="carrossel2-wrapper carrossel2_slider">
        <div class="carrossel2-cards swiper-wrapper">
          {% for block in section.blocks %}
            <div class="carrossel2-card swiper-slide">
              <a href="{{ block.settings.bannerlink }}" style="width: 100%">
              <div class="carrossel2-card_image-wrapper">
                <img src="{{ block.settings.image_carrossel2 | image_url }}" alt="Marca" class="carrossel2-card_image" width="" height="" loading="lazy"/>
              </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('.carrossel2_slider', {

    // Optional parameters
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1.2,
    spaceBetween: 4,
    centeredSlides: true,

    breakpoints: {
      768: {
        slidesPerView: 4,
        spaceBetween: 4,
        centeredSlides: false,
      }
    }
  });
</script>

{% schema %}
  {
    "name": "carrossel Collection",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "carrossel2_Card",
        "name": "carrossel2",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_carrossel2",
            "label": "Foto"
          },
          {
            "type": "url",
            "id": "bannerlink",
            "label": "url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "carrossel Collection",
        "category": "Banner",
        "blocks": [
          {
            "type": "carrossel2_Card"
          }
        ]
      }
    ]
  }
{% endschema %}
